<div class="col-md-12 text-right">
  <button
    type="button"
    class="btn btn-outline-danger"
    (click)="chatService.logout()"
  >
    Salir
  </button>
</div>

<br />

<div class="chat-window">
  <h1>Chat</h1>
  <hr />
  <div class="app-mensajes" id="app-messages">
    <div
      [ngClass]="{ 'text-right': chat.uid === chatService.user.uid }"
      *ngFor="let chat of chatService.chats"
    >
      <h5>
        <span
          class="badge badge-pill"
          [ngClass]="{
            'badge-success': chat.uid === chatService.user.uid,
            'badge-info': chat.uid !== chatService.user.uid
          }"
          >{{ chat.name }}</span
        >
      </h5>
      <p
        class="text-justify"
        [ngClass]="{ 'texto-derecha': chat.uid === chatService.user.uid }"
      >
        {{ chat.text }}
        <br />
        <small class="text-muted">
          {{ convertToDate(chat.createdAt) | date: "dd/MM/yyyy, h:mm a" }}
        </small>
      </p>
    </div>
  </div>

  <hr />

  <input
    class="form-control"
    type="text"
    name="message"
    [(ngModel)]="message"
    (keyup.enter)="sendMessage(messageText.value)"
    placeholder="Escribe un mensaje"
    #messageText
  />
</div>
